/* ne fonctionne pas, obligé dans le style du thème :-(
.yotu-video-thumb-wrp::after {
    background-image: url("/wp-content/plugins/yotuwp-easy-youtube-embed/assets/images/yotu-small.png") !important;
}
.yotu-videos a.yotu-video:hover .yotu-video-thumb-wrp::after {
    background-image: url("/wp-content/plugins/yotuwp-easy-youtube-embed/assets/images/yotu-small.png") !important;
}
*/

/*
À ajouter dans le style ::after

.yotu-videos a.yotu-video .yotu-link {
    position: absolute;
    background-color: none;
    line-height: 1;
text-align: center;
padding-top: 25%;
}
.yotu-videos a.yotu-video .yotu-link span {
    display: inline;
    background-color: green;
    color: white;
    padding: 1rem;
}

.yotu-videos a.yotu-video:hover .yotu-video-thumb-wrp::after {
    background-image: none ;

}
*/
